/*======================================================= VARIABLES ==================================================== */
:root {
    /* <!-- ------------------------- COLOR ------------------------ --> */
    --main_color: #931fa7;
    --st_color: hsl(23, 100%, 50%);
    --gradiant_color: linear-gradiant(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%);
    --container_color: hsl(23, 4%, 10%);
    --body_color: hsl(23, 12%, 4%);
    --text_color: hsl(23, 4%, 60%);
    --white_color: hsl(0, 0%, 100%);
    /* <!-- ------------------------- COLOR ------------------------ --> */

        /* <!-- ------------------------- SIZE ------------------------- --> */
        --header_size: 3.5rem;

        --body_font: "Poppins", sans-serif;
        --big_font_size: 10rem;
        --normal_font_size: .938rem;
        --small_font_size: .813rem;
        --smaller_font_size: .75rem;
        --h1_font_size: 1.5rem;
        --h2_font_size: 1.25rem;
        --h3_font_size: 1rem;
        /* <!-- ------------------------- SIZE ------------------------- --> */

    /* <!-- ------------------------- WEIGHT ----------------------- --> */
    --big_font_weight: 600;
    --normal_font_weight: 500;
    --small_font_weight: 400;
    /* <!-- ------------------------- WEIGHT ----------------------- --> */

    /* <!-- ------------------------- Z-INDEX ---------------------- --> */
    --z_fixed: 100;
    --z_tooltip: 10;
    /* <!-- ------------------------- Z-INDEX ---------------------- --> *
}
/*======================================================= VARIABLES ==================================================== */
















/*======================================================= BASE ========================================================= */
html{
    scroll-behavior: smooth;
}


* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: 0.3s;
}


body {
    background-color: var(--body_color);
    color: var(--text_color);
    font-family: "Poppins", sans-serif;
    font-weight: var(--normal_font_weight);
}


.container {
    width: 65%;
    margin: 1.3% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}






.section_1 .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    flex-wrap: nowrap;
}


/* img {
    max-width: 100%;
} */


i{
    font-size: 250%;
    color: var(--white_color);
}

i:hover {
    color: var(--st_color);
}


@media (max-width: 412px) {
    img {
        width: 16rem;
    }
}





.btn_a  {
    color: var(--white_color);
    background-color: #931fa7;
    font-size: 1.1rem;
    padding: .3rem 1.1rem;
    border-radius: 1.5rem;
}

.btn_a:hover{
    background-color: var(--st_color);
    opacity: .7;
}


.btn_a i {
    font-size: 117%;
    font-weight: 600;
    margin-left: .2rem;
}

.btn_a i:hover {
    color: var(--white_color);
}







/*======================================================= HEADER ========================================================= */
header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: var(--z_fixed);
    border-bottom: 0.15rem solid var(--main_color);
    border-radius: 4rem;
}

header .container{
    max-height: 100%;
    margin: 1rem auto;
}

.logo_img{
    width: 6em;
}

/* <!-- ------------------------- NAV ----------------------- --> */

header .container .nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    left: 0;
    top: 0;
}

header .container .nav_bar li{
    margin: 0 5%;
}

header .container .nav_bar li a {
    color: var(--white_color);
    font-size: 230%;
    font-weight: 600;
    text-transform: uppercase;
}





header .container i{
    color: var(--white_color);
    font-size: 150%;
    display: none;
}










header .container .nav_bar li a:hover {
    color: var(--st_color);
    transition: 0.15s;
}

header .container i:hover {
    color: var(--st_color);
    cursor: pointer;
    transition: 0.15s;
}












@media (max-width: 912px) {


    header .container i, .logo_img{
        display: block;
        z-index: 999;
    }

    .logo_img {
        width: 3.4rem;
    }


    header .container i {
        font-size: 178%;
    }


    


    header .container .nav_bar {
        width: 100%;
        height: 45vh;
        position: fixed;
        top: 0%;
        background-color: #470d51cb;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10%;
    }




    header .container .nav_bar li a {
        font-size: 128%;
        font-weight: 500;
    }




    
    header .container .nav_bar li:first-child {
        margin-top: 6rem;
    }





    header .container #close {
        display: none;
    }
}
/* <!-- ------------------------- NAV ----------------------- --> */
/*======================================================= HEADER ========================================================= */























/*======================================================= SECTION_1 ========================================================= */
.section_1 {
    width: 100%;
    height: 100vh;
}

.section_1 .container {
    height: 118vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}





.section_1 .container .image{
    width: 41rem;
    height: 46rem;
    margin-top: -7rem;
    position: relative;
}


.section_1 .container .image img{
    width: 42rem;
    position: absolute;
    transform: translate(-17rem, 0rem);
    filter: drop-shadow(1px 1px 20px var(--main_color));
}


.section_1 .container .image .buy {
    color: var(--white_color);
    background-color: rgb(147, 31, 167);
    font-size: 1.7rem;
    position: absolute;
    padding: 0.3rem 1.1rem;
    border-radius: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
    transform: translate(19.5rem, 39rem);
}



.section_1 .container .image i:hover {
    color: var(--white_color);
}


.section_1 .container .image .buy:hover {
    background-color: var(--st_color);
    opacity: .7;
}



.section_1 .container .image i {
    font-size: 2rem;
}





.section_1 .mediaa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 4rem;
    width: 6rem;
}

.section_1 .media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;

}

.section_1 .media i{
    font-size: 270%;
    margin: .5rem 0;

}

.section_1 .mediaa p{
    color: var(--main_color);
    rotate: 90deg;
    font-size: 230%;
    font-weight: 400;
    position: absolute;
    transform: translate(-9.5rem, 0.2rem);
    width: 15rem;
}

.section_1 {

}

@media (max-width: 412px) {
    .section_1 {
        height: 76vh;
    }

    .section_1 .container{
        height: 76vh;
    }

    .section_1 .container .image {
        width: 0;
        height: 0;
        transform: translate(-5rem, -4rem);
    }



    .section_1 .container .image img {
        width: 17rem;
        transform: translate(0, 0);
    }

    .section_1 .container .image .buy {
        font-size: .8rem;
        padding: 0.3rem .7rem;
        justify-content: center;
        gap: 0.4rem;
        transform: translate(5.2rem, 16rem);
        width: 4.8rem;
        align-items: center;
    }

    .section_1 .container .image i {
        font-size: .9rem;
    }



    .section_1 .mediaa {
        width: 2rem;
        margin-top: 11rem;
    }

    .section_1 .mediaa p {
        font-size: 126%;
        transform: translate(-5.2rem, .1rem);
        width: 15rem;
    }


    .section_1 .media i {
        font-size: 155%;
        margin: .3rem 0;
    }
}

/*======================================================= SECTION_1 ========================================================= */





















/*======================================================= SECTION_2 ========================================================= */
.section_2 {
}

.section_2 .container {
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.section_2 .container img{
    width: 35rem;
}

.section_2 .container img{
    filter: drop-shadow(1px 1px 20px var(--main_color));
}





.section_2 .container .info_2{
    max-width: 34rem;
}


.section_2 .container .info_2 h1{
    color: var(--main_color);
    font-size: 2.33rem;
    font-weight: 500;
}

.section_2 .container .info_2 p {
    font-size: 1.33rem;
    font-weight: 300;
    margin-bottom: 1.6rem;
}

.section_2 .container .info_2 a {
    font-size: 1.5rem;
    font-weight: 300;
}

.section_2 .container .info_2 i {
    font-weight: 300;
}




@media (max-width: 412px) {

    .section_2 .container img {
        filter: drop-shadow(1px 1px 20px var(--main_color));
        width: 17rem
    }

    .section_2 .container .info_2 h1 {
        color: var(--main_color);
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem 0 .5rem;
    }

    .section_2 .container .info_2 p {
        font-size: 1rem;
    }

    .section_2 .container .info_2 a {
        font-size: 1rem;
    }
}
/*======================================================= SECTION_2 ========================================================= */















/*======================================================= SECTION_3 ========================================================= */

.section_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

section .container{
    justify-content: center;
}

section .title{
    color: var(--white_color);
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
}



.section_3 .container .images{
    position: relative;
}





.section_3 .container .images .image_3 img{
    width: 50rem;
}



.section_3 .container .images .model{
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
}

.section_3 .container .images .model span{
    background-color: var(--st_color);
    color: var(--body_color);
    font-size: 1.2rem;
    font-weight: 400;
    padding: .3rem .8rem;
    border-radius: 1.5rem;
    position: absolute;
    top: -0.9rem;
    left: 5rem;
}

.section_3 .btn_div a{
    font-size: 1.4rem;
}

.section_3 .btn_div i{
    font-weight: 300;
}



.toolbit_1{
    width: 8rem;
}

.toolbit_2{
    width: 10rem;
}

.toolbit_3{
    width: 7rem;
}

.toolbit_4{
    width: 9rem;
}



.model_2{
    transform: scaleX(-1);
}

.toolbit_2{
    transform: scaleX(-1);
}


.model_1{
    top: 22.9rem;
    left: 36.2rem;
}

.model_2{
    top: 6rem;
    left: 33.5rem;
}

.model_3{
    top: 32.8rem;
    left: 18rem;
}

.model_4{
    top: 30.5rem;
    left: 4.5rem;
}


.section_3 .btn_div{
    margin-top: -0.7rem;
    margin-left: 3.2rem;
}




@media (max-width: 412px) {
    .section_3{
    margin: 13rem 0 11rem;
    }

    .section_3 .container .images .image_3 img {
        width: 20rem;
    }

    section .title {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .section_3 .btn_div {
        margin-top: -1rem;
        margin-left: -1rem;
    }

    .section_3 .btn_div a {
        font-size: .8rem;
        padding: .3rem 0.9rem;
    }

    .section_3 .container .images .model span {
        font-size: .7rem;
        padding: .2rem .4rem;
        top: -0.7rem;
        left: 3.45rem;
        max-width: 5rem;
    }

    .section_3 .container .images .model_2 span {
        max-width: 6rem;

    }


    .section_3 .container .images .model img {
        width: 3.5rem;
    }




    .model_1 {
        top: 9.9rem;
        left: 13.2rem;
    }

    .model_2 {
        top: 2rem;
        left: 12.2rem;
    }

    .model_3 {
        top: 13rem;
        left: 7rem;
    }

    .model_4 {
        top: 11.5rem;
        left: 1.5rem;
    }

}

/*======================================================= SECTION_3 ========================================================= */



/*======================================================= Footer ============================================================ */
footer {
    width: 100%;
    background-color: #470d51cb;
    border-top: 0.1rem solid var(--st_color);
    margin-top: 10%;
}

footer .container{
    height: 20rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer .container .foot_1 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-content: flex-start;
    gap: 2rem;
}

footer .container .foot_1 .media {
    display: block;
    margin: -0.4rem 5rem 0rem -1.8rem;
}


footer .container .foot_1 .media i {
    font-size: 2.5rem;
    margin: 0 0.4rem;
}

footer .container .foot_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    gap: 0;
}


footer .container .foot_2 h3{
    color: var(--st_color);
    font-size: 2.3rem;
    font-weight: 500;
}

footer .container .foot_2 .contacts a{
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
}


footer .container .foot_2 .contacts a:hover {
    color: var(--st_color);
    transition: 0.15s;
}

footer .container .foot_2 p{
    font-size: 1.5rem;
    font-weight: 400;
}



@media (max-width: 412px) {

    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    footer .container .foot_1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    footer .container .foot_2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: -2rem;
    }


    footer .container .foot_2 h3 {
        color: var(--st_color);
        font-size: 1.3rem;
        font-weight: 400;
    }

    footer .container .foot_2 p {
        font-size: 1rem;
        font-weight: 200;
    }

    footer .container .foot_2 .contacts a {
        font-size: 1rem;
        font-weight: 200;
    }

    footer .container .foot_1 .media {
        margin: -1rem 0 0 0;
        transform: translate(0, 0);
    }
    footer .container .foot_1 .media i {
        font-size: 1.7rem;
        margin: 0 0.2rem;
    }

}

/*======================================================= Footer ============================================================ */




.scroll_up {
    font-size: 1.4rem;
    position: fixed;
    bottom: 4rem;
    right: -5rem;
    background-color: var(--main_color);
    color: var(--st_color);
    padding: .3rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.scroll_up i{
    font-size: 3rem;
    color: var(--white_color);
}

.scroll_up:hover {
    color: var(--white_color);
    background-color: var(--st_color);
    opacity: .7;
}

.show{
    right: 4rem;
}


@media (max-width: 412px) {
    .scroll_up {
        padding: 0rem 0rem;
    }

    .scroll_up i {
        display: flex;
        font-size: 2.4rem;
        padding: .3rem .4rem;
    }
}